$colors: (
    'primary': #eb234b,
    'secondary': #253d51
);

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color !important;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}
