$font-families: (
    'primary': 'Arial',
    'secondary': 'Eurostile',
    'tertiary': 'Lato'
);

@each $name, $family in $font-families {
    .font-#{$name} {
        font-family: $family, sans-serif !important;
    }
}

$font-sizes: (
    'xs': 0.50rem,
    'sm': 0.75rem,
    'base': 1rem,
    'md': 1.25rem,
    'lg': 1.50rem,
    'xl': 2rem,
    'xxl': 4rem,
    'xxxl': 5rem,
);

@each $name, $size in $font-sizes {
    .font-#{$name} {
        font-size: $size;
        line-height: $size + 0.5rem
    }

    .\!font-#{$name} {
        font-size: $size !important;
        line-height: $size + 0.5rem
    }
}

$line-heights: (
    'xs': 0.50rem,
    'sm': 0.75rem,
    'base': 1rem,
    'md': 1.25rem,
    'lg': 1.50rem,
    'xl': 2rem,
    'xxl': 4rem,
    'xxxl': 5rem,
);

@each $name, $line-height in $line-heights {
    .leading-#{$name} {
        line-height: $line-height;
    }
}

$letter-spacings: (
    '1': 1px,
    '2': 2px,
    '3': 3px,
    '4': 4px,
);

@each $name, $letter-spacing in $letter-spacings {
    .tracking-#{$name} {
        letter-spacing: $letter-spacing !important;
    }
}

