@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Arial:100,300,400,500,700,900");
    
@font-face {
    font-family: 'Eurostile';
    src: url("../fonts/Eurostile.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sagoma';
    src: url("../fonts/Sagoma-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sagoma';
    src: url("../fonts/Sagoma-ThickOutline.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sagoma';
    src: url("../fonts/Sagoma-ThinOutline.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}