<template>
  <footer class="px-6 lg:px-0 relative py-5 bg-blue text-white text-center text-sm lg:text-base font-body tracking-wide font-bold">&copy; Paskong Pinoy | CFC-Singles for Christ West 2 Laguna | 2019</footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>