.project-item {
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: 12px solid map_get($colors, 'primary');
        z-index: 1;
        transition: opacity 300ms ease-in-out;
        content: "";
        opacity: 0;
    }

    .project-details {
        transition: opacity 300ms ease-in-out;
        opacity: 0;
        
        .project-name {
            position: relative;

            &:before {
                position: absolute;
                top: 8px;
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                left: -16px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 8px solid #eb234b;
                content: "";
            }
        }

        .project-excerpt {
            -webkit-line-clamp: 4;
            line-clamp: 4;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }

    &.active {
        &:before {
           opacity: 1;
        }

        .project-details {
            opacity: 1;
        }
    }    
}