@font-face {
    font-family: "Thinking Of Betty";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/thinking_of_betty/ThinkingOfBetty.woff2') format('woff2'),
        url('../fonts/thinking_of_betty/ThinkingOfBetty.woff') format('woff'),
        url('../fonts/thinking_of_betty/ThinkingOfBetty.ttf') format('truetype'),
        url('../fonts/thinking_of_betty/ThinkingOfBetty.svg#ThinkingOfBetty') format('svg');
}

@font-face {
    font-family: "BebasNeue";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebas_neue/BebasNeue.woff2') format('woff2'),
        url('../fonts/bebas_neue/BebasNeue.woff') format('woff'),
        url('../fonts/bebas_neue/BebasNeue.ttf') format('truetype'),
        url('../fonts/bebas_neue/BebasNeue.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.eot');
    src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.eot');
    src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-BoldItalic.eot');
    src: url('../fonts/quicksand/Quicksand-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-BoldItalic.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-BoldItalic.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-BoldItalic.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-BoldItalic.svg#Quicksand-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand Dash';
    src: url('../fonts/quicksand/QuicksandDash-Regular.eot');
    src: url('../fonts/quicksand/QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/QuicksandDash-Regular.woff2') format('woff2'),
        url('../fonts/quicksand/QuicksandDash-Regular.woff') format('woff'),
        url('../fonts/quicksand/QuicksandDash-Regular.ttf') format('truetype'),
        url('../fonts/quicksand/QuicksandDash-Regular.svg#QuicksandDash-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-Bold.eot');
    src: url('../fonts/quicksand/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-Bold.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-Bold.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-Light.eot');
    src: url('../fonts/quicksand/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-Light.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-Light.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-Regular.eot');
    src: url('../fonts/quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-Regular.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-Regular.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-LightItalic.eot');
    src: url('../fonts/quicksand/Quicksand-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-LightItalic.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-LightItalic.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-LightItalic.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-LightItalic.svg#Quicksand-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-Italic.eot');
    src: url('../fonts/quicksand/Quicksand-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-Italic.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-Italic.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-Italic.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-Italic.svg#Quicksand-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
