@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'ThinkingOfBetty';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/thinking_of_betty/Thinking_of_Betty.ttf') format('ttf');
}